@import "tailwindcss";

@theme {
  --color-foreground: #ffffff;
  --color-background-base: #0f172a;
  --color-background-panel: #1e293b;
  --color-brand-primary: #3b82f6;
  --color-brand-secondary: #0ea5e9;
  --color-status-healthy: #10b981;
  --color-status-warning: #f59e0b;
  --color-status-critical: #ef4444;
}

body {
    background-color: var(--color-background-base);
    color: var(--color-foreground);
    @apply antialiased min-h-screen font-sans;
}
